<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>feb22AdvServlets</display-name>
  <context-param>
  <param-name>jdbcURL</param-name>
  <param-value>jdbc:mysql://localhost:3036/dbname</param-value>
  </context-param>
  <context-param>
  <param-name>User</param-name>
  <param-value>root</param-value>
  </context-param>
  <context-param>
  <param-name>password</param-name>
  <param-value>root</param-value>
  
  </context-param>
  <servlet>
  <servlet-name>demoConfigs</servlet-name>
  <servlet-class>feb22AdvServlets.demoConfig</servlet-class>
  <init-param>
  <param-name>user</param-name>
  <param-value>roots</param-value>
  </init-param>
  <init-param>
   <param-name>hello</param-name>
   <param-value>you can do it</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>demoConfigs</servlet-name>
  <url-pattern>/democonfig</url-pattern>
  </servlet-mapping>
</web-app>